---
import Sidebar from "../components/Sidebar.astro";
---

<style>
  main {
    margin-left: 260px;
    padding: 30px;
    background: #f8fafc;
    min-height: 100vh;
  }
</style>

<Sidebar />
<main>
  <slot />
</main>
